.single-style {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.single-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.single-content {
  max-width: 600px;
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
}

.single-btn {
  width: 150px;
  height: 40px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 37.61px;
  color: #ffffff;
  border-radius: 20px;
  background: #ff0000;
}
